{{ define "Index" }}
{{ template "Header" }}

{{ if .Logined }}
<div class="my_container">
  <div class="bg-primary shadow rounded">
    <a href="/school" class="">
      <img src="/static/school.png" width="96px" height="96px" alt="">
      <p class="text-center">校园网 
          {{ if eq .Current "school" }}
          <strong><span class="badge badge-warning">✓</span></strong>
          {{ end }}
      </p>
    </a>
  </div>
  <div class="bg-success shadow rounded">
    <a href="/gotonet" class="">
      <img src="/static/internet.png" width="96px" height="96px" alt="">
      <p class="text-center">互联网
        {{ if eq .Current "net"}}
        <strong><span class="badge badge-warning">✓</span></strong>
        {{ end }}
      </p>
    </a>
  </div>
  <div class="shadow rounded" style="background: #ea7362">
    <a href="/logout" class="">
        <img src="/static/quit.png" width="96px" height="96px" alt="">
        <p class="text-center">退出</p>
    </a>
  </div>
</div>

{{ else }}
  <div class="my_container2">
    <div class="myimg bg-white">
      <img src="/static/login.png" width="96" height="96" alt="">
    </div>
    <div class="myform bg-white">
      <form action="/auth" method="post">
      <h4 class="my-4">密 码</h4>
      <input type="password" name="password" class="my-3 form-control" />
      <p class="my-3 "><input type="submit" name="submit" value="提交" class="btn btn-block btn-success"></p>
      </form>
    </div>

  </div>

{{ end }}
{{ template "Footer" }}
{{ end }}