{{ define "Index" }}
{{ template "Header" }}

<h4 class="text-center alert alert-info">{{ .Info }}</h4>
<h4 class="text-center my-4"> 当前状态: <strong> {{ .Current }} </strong></h4>
{{ if .Logined }}
<p><a href="/school" class="btn btn-block btn-lg btn-primary">校园网</a></p>
<p><a href="/gotonet" class="btn btn-block btn-lg btn-success">互联网</a></p>
<p>
  <a href="/logout" class="btn btn-block btn-lg btn-success">退出</a>
</p>
{{ else }}
<p>
  <a href="/login" class="btn btn-block btn-lg btn-success">登录</a>
</p>
{{ end }}
{{ template "Footer" }}
{{ end }}